.board
  border-collapse: collapse;

.board > tr > td
  width: 64px;
  height: 64px;
  border: 1px solid black;

.board td.white
  background: inherit;

.board td.black
  background: black;



.checker
  width: 60px;
  height: 60px;
  border: 1px solid;
  color: grey;
  border-radius: 50%;

.checker.white
  background: #fff;

.checker.black
  background: #000;